
/* Nav bar */
.custom-navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
}

.nav-button:hover{
  background-color: #907cad;
  color: aliceblue;
  cursor: pointer;
}

.nav-button{
  background-color: aliceblue;
  color:  #5a437c;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
}

.nav-button p{
  margin: 0;
}

